<!DOCTYPE html>
<html <% if(htmlWebpackPlugin.options.htmlClass) { %>
  class="<%= htmlWebpackPlugin.options.htmlClass %>"<% } %>>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <% if (htmlWebpackPlugin.options.appname) { %>
    <div id="backup-message" class="alert-box">
      If you see this message, something went wrong.
      <br />
      You can try to reload DemoMonkey: <button id="reload-now-button">Reload now.</button>
      <br />
      You can access your scripts to backup by opening the
      <a href="backup.html">backup page</a>.
      Please consider to <a href="https://github.com/svrnm/DemoMonkey/issues" rel="noopener noreferrer">report this issue</a>
    </div>
    <div id="app" class="app-container" data-app="<%= htmlWebpackPlugin.options.appname %>"></div>
    <div
      id="message-box"
      class="fade-to-hidden"
      style="
        z-index: 9999;
        position: absolute;
        right: 0;
        bottom: 0;
        border: 1px solid blue;
        background: #eef;
        margin-right: 20px;
        margin-bottom: 4px;
        padding: 4px;
      "
    ></div>
    <% } %>
  </body>
</html>
