/* URL */
.ace_punctuation.ace_definition.ace_string.ace_url.ace_mnky {
  color: var(--mui-palette-custom-editor-string-url);
}

/* Comment */
.hljs-comment,
.ace_punctuation.ace_definition.ace_comment.ace_mnky {
  color: var(--mui-palette-custom-editor-comment);
}

/* Group */
.hljs-section,
.ace_punctuation.ace_definition.ace_entity.ace_mnky,
.ace_constant.ace_section.ace_group-title.ace_mnky {
  color: var(--mui-palette-custom-editor-group);
  font-weight: bold;
}

/* Option */
.ace_constant.ace_library.ace_mnky {
  color: var(--mui-palette-custom-editor-option);
}

/* Search */
.hljs-attr,
.ace_keyword.ace_other.ace_definition.ace_mnky {
  color: var(--mui-palette-custom-editor-search);
}

/* Function */
.ace_entity.ace_name.ace_function.ace_mnky {
  color: var(--mui-palette-custom-editor-function);
}

/* Import */
.ace_storage.ace_type.ace_mnky {
  color: var(--mui-palette-custom-editor-import);
}

/* Variable */
.ace_variable.ace_mnky {
  color: var(--mui-palette-custom-editor-variable);
}

.disabled .ace_content {
  background-color: var(--mui-palette-custom-editor-disabled);
}

#contentarea.disabled {
  opacity: 0.65;
}
