@import 'colors';

.top-bar {
  display: flex;
  align-items: center;
  background-color: var(--topbar-color);
  color: #f0f0f0;
  padding: 0 8px;
  height: 40px;
  min-height: 40px;
  gap: 4px;
  z-index: 10;

  .top-bar-left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2px;
  }

  .top-bar-divider {
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 20%);
    margin: 0 4px;
  }

  .top-bar-right {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .upload-form {
    display: none;
  }
}

.navigation {
  background: var(--navigation-background);
  border-right: 1px solid var(--base-color);
  flex-basis: 250px;
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 250px;
  overflow: auto;
  padding: 0;
  resize: horizontal;

  & > div {
    height: 100%;
    min-height: 100%;
  }

  .read-only-item {
    font-style: italic;

    a {
      color: --var(--navigation-read-only);
    }
  }

  .navigation-item {
    a {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }

    .configuration-options {
      position: absolute;
      right: 12px;
      top: 4px;

      & button {
        background: var(--navigation-background);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        font-size: 140%;
        font-weight: bold;
        margin: 0;
        margin-right: 2px;
        padding: 0;
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:focus,
        &:hover {
          box-shadow: none !important;
          opacity: 0.8;
        }

        &.delete-configuration {
          color: red;
        }

        &.download-configuration {
          color: green;
        }

        &.edit-configuration {
          color: blue;
        }
      }
    }

    .configuration-name {
      display: inline-block;
      max-width: 140px;
    }

    .configuration-updated-at time {
      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }

  .navigation-search {
    padding: 8px;
    border-bottom: 1px solid var(--navigation-active-color);
  }

  .items {
    height: calc(100% - 52px);
    min-height: calc(100% - 52px);
    overflow: hidden auto;
  }
}
