name: Tests for PR

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: 'Run tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - uses: actions/checkout@v4
      - name: 'Cache node_modules'
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            package-lock.json
          key: ${{ runner.os }}-node-v22-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-v22-
      - name: Install Dependencies
        run: npm install
      - name: Run Build
        run: npm run build
      - name: Run Non-Ui Tests
        run: npm run test-no-ui
